<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Trips Page </title>
  </head>
  <body>
    <a href="/login"> Login Page </a>
    <h3> Welcome {{username}}, please add your trips below! </h3>

  </body>
</html>
