<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/add-trips"> Add Trips </a>

    <h2> Your {{title}} trip has been deleted .... </h2>

  </body>
</html>
